/*--global--*/
body {
    background-color: #A0CED9;
    height: 100%;
    width: 100%;
}

.nav {
    width: 100%;
    font-size: larger;
    text-transform: uppercase;
    background-color: #2D232E;
    color: #fff;
    border-style: double;
    border-color: #5fad56;
    flex-direction: column;
    padding: 5px;
}
.row {
    background-color: #2D232E;
}

.col {
    padding: 0;
    text-align: center;
}

.col-sm {
    padding: 0;
    height: 100%;
}

h4 {
    color: #fff;
}

.socialLinks {
    float: right;
    color: #119822;
    margin-right: 50px;
}

#gameF {
    margin-top: 200px;

}

/*--home--*/
.gameName {
    width: 100%;
    height: auto;
    background-color: #2D232E;
    color: #fff;
    border-style: groove;
    border-color: #5fad56;
    margin: auto;
    margin-top: 10%;
}

.gameName h1 {
    text-align: center;
}

.gameExplaination {
    width: 100%;
    height: auto;
    background-color: #2D232E;
    color: #fff;
    border-style: groove;
    border-color: #5fad56;
    padding: 10px;
    margin: auto;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
.colour {
    width: 100%;
    height: 100%;
}
/*--how-to-play--*/

.HTP {
    width: 100%;
    height: 100%;
    background-color: #2D232E;
    color: #fff;
    border-style: groove;
    border-color: #5fad56;
    padding: 15px;
    margin: auto;
}

.HTP > h2 {
    padding-bottom: 10px;
}

.HTP > p {
    margin: 10px;
    text-align: left;
}

#grey {
    background-color: #2D232E;
    border-style: groove;
    border-color: #5fad56;
}

.img {
    padding: 10px;
}

/*--game--*/

h1 {
    margin: 10px;
}

.btn-group-lg>.btn, .btn-lg{
    margin: 10px 15px;
}

.simonGame {
    position: relative;
    width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    text-align: center;
}

.scorebox {
    border-radius: 30%;
    box-sizing: border-box;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 325px;
    left: 200px;
    text-align: center;
    background-color: #2f2631;
    color: #fff;
    font-size: 4em;
}

.circle {
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.colour1 {
    height: 500px;
    width: 500px;
    background-color: darkgoldenrod;
    top: 125px;
}

.colour2 {
    height: 400px;
    width: 400px;
    background-color: darkgreen;
    top: 175px;
    left: 50px;
}

.colour3 {
    height: 300px;
    width: 300px;
    background-color: #EFB920;
    top: 225px;
    left: 100px;
}

.colour4 {
    height: 200px;
    width: 200px;
    background-color: #23BBBB;
    top: 275px;
    left: 150px; 
}


.colour5 {
    height: 600px;
    width: 600px;
    background-color: #654555;
    top: 75px;
    left: -50px;
}

.colour6 {
    height: 700px;
    width: 700px;
    background-color: #446556;
    top: 25px;
    left: -90px;
}

.colour7 {
    height: 800px;
    width: 800px;
    background-color: #4050e4;
    top: -25px;
    left: -140px;
}

.colour8 {
    height: 900px;
    width: 900px;
    background-color: #cf3d10;
    top: -75px;
    left: -190px;
}

.flash {
    opacity: 0.6;
}

.reset {
    margin: 15px;
}


