/*--global--*/
body {
    background-color: #A0CED9;
    height: 100%;
    width: auto;
}

.nav {
    width: 90%;
    margin: 0 auto;
    font-size: larger;
    text-transform: uppercase;
    background-color: #2D232E;
    color: #fff;
    border-style: double;
    border-color: #5fad56;
    flex-direction: column;
    padding: 5px;
}
.row {
    background-color: #2D232E;
}

.col {
    padding: 0;
    text-align: center;
}

.col-sm {
    padding: 0;
    height: 100%;
}

h4 {
    color: #fff;
}

.socialLinks {
    float: right;
    color: #119822;
    margin-right: 50px;
}

#gameF {
    margin-top: 200px;

}

/*--home--*/
.gameName {
    width: 100%;
    height: auto;
    background-color: #2D232E;
    color: #fff;
    border-style: groove;
    border-color: #5fad56;
    margin: auto;
    margin-top: 10%;
}

.gameName h1 {
    text-align: center;
}

.gameExplaination {
    width: 100%;
    height: auto;
    background-color: #2D232E;
    color: #fff;
    border-style: groove;
    border-color: #5fad56;
    padding: 10px;
    margin: auto;
}

.gameExplaination > h2 {
    margin: 10px;
}

.gameExplaination > p {
    margin: 10px;
}

.red {
    background-color: red;
}

.blue {
    background-color: blue;
}

.green {
    background-color: green;
}

.yellow {
    background-color: yellow;
}
.colour {
    width: 100%;
    height: 100%;
}
/*--how-to-play--*/

.HTP {
    width: 100%;
    height: 100%;
    background-color: #2D232E;
    color: #fff;
    border-style: groove;
    border-color: #5fad56;
    padding: 15px;
    margin: auto;
}

.HTP > h2 {
    padding-bottom: 10px;
}

.HTP > p {
    margin: 10px;
    font-size: large;
    text-align: left;
}

#grey {
    background-color: #2D232E;
    border-style: groove;
    border-color: #5fad56;
}

.img {
    padding: 10px;
    width: 90%;
    height: fit-content;
}

/*--game--*/

h1 {
    margin: 10px;
}

.btn-group-lg>.btn, .btn-lg{
    margin: 10px 15px;
}

.simonGame {
    position: relative;
    width: 500px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
    text-align: center;
}

.scorebox {
    border-radius: 30%;
    box-sizing: border-box;
    position: absolute;
    height: 100px;
    width: 100px;
    top: 325px;
    left: 200px;
    text-align: center;
    background-color: #2f2631;
    color: #fff;
    font-size: 4em;
}

.circle {
    border-radius: 50%;
    position: absolute;
    cursor: pointer;
}

.colour1 {
    height: 500px;
    width: 500px;
    background-color: darkgoldenrod;
    top: 125px;
}

.colour2 {
    height: 400px;
    width: 400px;
    background-color: darkgreen;
    top: 175px;
    left: 50px;
}

.colour3 {
    height: 300px;
    width: 300px;
    background-color: #EFB920;
    top: 225px;
    left: 100px;
}

.colour4 {
    height: 200px;
    width: 200px;
    background-color: #23BBBB;
    top: 275px;
    left: 150px; 
}


.colour5 {
    height: 600px;
    width: 600px;
    background-color: #654555;
    top: 75px;
    left: -50px;
}

.colour6 {
    height: 700px;
    width: 700px;
    background-color: #446556;
    top: 25px;
    left: -90px;
}

.colour7 {
    height: 800px;
    width: 800px;
    background-color: #4050e4;
    top: -25px;
    left: -140px;
}

.colour8 {
    height: 900px;
    width: 900px;
    background-color: #cf3d10;
    top: -75px;
    left: -190px;
}

.flash {
    opacity: 0.6;
}

.reset {
    margin: 15px;
}

/*--screen responsive--*/
@media screen and (max-width:943px){
    h1 {
        top: 12.5%;
        left: 1%;
        position: fixed;
    }

    .reset {
        position: fixed;
        top: 12.5%;
        right: 4%;
    }
}


@media screen and (max-width:700px) {
    .nav {
        width: 100%;
        height: auto;
        margin: 0 auto;
    }

    h1 {
        padding-left: 5px;
        padding-right: 5px;
    }
    .gameExplaination > h2{
        text-align: center;
    }
    .gameExplaination > p {
        padding: 5px;
        font-size: large;
    }
    .HTP > .img {
        height: 90%;
        width: 90%;
        background-size: contain;
    }
    #grey {
        height: 100%;
        width: 100%;
    }
    .col .HTP {
        width: 100%;
        height: max-content;
    }

    .img {
        height: 100%;
        width: fit-content;
    }

    /*--game responsiveness--*/

    .btn {
        padding: 0;
    }

    .btn-group-lg>.btn, .btn-lg{
        margin: 10px 15px;
        padding: 5px 10px;
        font-size: small;
        border-radius: 1rem;
    }

    h1 {
        margin: 10px;
        font-size: small;
    }

    .simonGame {
        position: relative;
        width: 250px;
        height: 250px;
        margin-top: 35px;
        text-align: center;
    }

    .scorebox {
        border-radius: 10%;
        box-sizing: border-box;
        position:relative;
        height: auto;
        width: 20%;
        text-align: center;
        background-color: #2f2631;
        color: #fff;
        font-size: 1.5em;
        top: -5%;
        left: -15%;
    }

    .colour1 {
        height: 125px;
        width: 125px;
        background-color: darkgoldenrod;
        top: 20%;
        left: 25%;
    }
    
    .colour2 {
        height: 100px;
        width: 100px;
        background-color: darkgreen;
        top: 25%;
        left: 29%;
    }
    
    .colour3 {
        height: 75px;
        width: 75px;
        background-color: #EFB920;
        top: 30%;
        left: 34%;
    }
    
    .colour4 {
        height: 50px;
        width: 50px;
        background-color: #23BBBB;
        top: 35%;
        left: 39%;
    }
    
    .colour5 {
        height: 150px;
        width: 150px;
        background-color: #654555;
        top: 15%;
        left: 20%;
    }
    
    .colour6 {
        height: 175px;
        width: 175px;
        background-color: #446556;
        top: 11%;
        left: 15%;
    }
    
    .colour7 {
        height: 200px;
        width: 200px;
        background-color: #4050e4;
        top: 6%;
        left: 11%;
    }
    
}
